
body{
	margin: 0;
	padding: 0;
}

.navbar{

	background-color: #404040;
    min-height: 50px;
	width: 80vw;
	display: flex;

	flex-direction: row;
}

.buttons{
align-self: center;
	display: flex;
	flex-direction: row;
}
   a{
   margin:8px;
	}
	.one{
		text-decoration: none;
		color: #E0E0E0;
		font-size: 20px;
	}

	.rest{
		
		background-color: #404040;
		display: flex;
		flex-direction: row;
		
		margin-left: auto;
		
		
	}
	.nav{
		border-radius: 6px;
		display: flex;
		flex-direction: row;
		width: 100vw;
		background-color: #404040;
		margin: 0;
	}
	.search{
      margin:8px;
		width:15vw;
		max-width: 200px;
	}
	.b2{
		height: 30px;
		align-self: center;
	}

.last{
    
   width:20vw;
   display: none;
   justify-content: flex-end;

}
.button{
	
	height: 40px;
	margin: 5px;
}




	@media screen and (max-width: 725px)
	{

       .show{
       	display: none;
       }
        .buttons{
            
             align-self: flex-start;
        	flex-direction: column;

        }
        .navbar{
	    flex-direction: column;
                  }
        .rest{
        	margin: 0;
        	width:60vw;

        }
         .search{
         	width: inherit;
         }
        .last{

        	width: 40vw;
        	display: flex;
        }
}
        
        

	}